@model CARVAN.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_Car)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_Car)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Range_Of_Car)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Range_Of_Car)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand_Car)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand_Car)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pricing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pricing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_6)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Car }) |
    @Html.ActionLink("Back to List", "Index")
</p>
